<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expenseanddiet.app.expensediet">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.expenseanddiet.app.expensediet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="com.expenseanddiet.app.expensediet.fileprovider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReceiptActivity"
            android:label="@string/title_activity_receipt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReceiptItemActivity"
            android:label="@string/title_activity_receipt_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpenseChartActivity"
            android:label="@string/title_activity_expense_chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NutrientChartActivity"
            android:label="@string/title_activity_nutrient_chart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>